body{
		background: -moz-linear-gradient(top,#FFD800FF 20% ,#FF006EFF 100%);
		background: -webkit-linear-gradient(top,#FFD800FF 20% ,#FF006EFF  100%);
			background: -o-linear-gradient(top,#FFD800FF 20% ,#FF006EFF  100%);
				background: linear-gradient(top,#FFD800FF 20% ,#FF006EFF  100%);

}
h2{
color: #FF0000FF;
text-align: center;
font-size: 60px;
}
div{
	/*if you set the width and want to put border ,margin,padding then the actual width is = width + border + margin + padding .so if width=300px,border=5px,
	margin=7px,padding=40px then actual width is 352px.so then actual width of div is gonna 352px'*/

height:300px ;
width:29%;
	background: -moz-linear-gradient(top,#666666 0% , #4800FFFF 100%);
		background: -webkit-linear-gradient(top,#666666 0% ,#4800FFFF  100%);
			background: -o-linear-gradient(top,#666666 0% ,#4800FFFF  100%);
				background: linear-gradient(top,#666666 0% ,#4800FFFF  100%);
margin: 0 auto;
display: inline-block;
overflow: auto;
border: double 9px #FFD80080;
margin: 8px; 
padding: 8px;
}
p{
	font-family: times;
	font-variant: small-caps;
	padding: 10px;
	text-align: center;
}