.header{
	margin:3%;
}
.header h2,p{
text-transform: uppercase;
font-weight: bold;
}
.gallery{
	margin:1% 1.1%;
}
.gallery img{
	transition: 1s;
	padding:15px;
	width:100%;
	box-shadow:5px 5px 5px 5px #E01E71FF;
	margin-bottom: 30px;
	border-radius: 10px;
}
.gallery img:hover{
	filter:grayscale(100%);
	transform:scale(1.1);
}